/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.title {

    text-align: center;


}

.chat-window {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-header {
    text-align: center;
}

.chat-log {
    height: 150px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
h1{

    
    color: white;
    border: 50%;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
     padding: 5px;
   
 

}
